<main>
  <div id="page">
    <nav id="nav_bar">
      <div id="site_name">
        <ul>
          <li><a href="/">Build Without Validation</a></li>
        </ul>
      </div>
      <div id="menu">
        <ul>
          <li><a href="/about">about</a></li>
        </ul>
      </div>
    </nav>
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
